{
  "root": true,
  "env": {
    "es6": "true",
    "browser": "true",
    "node": "true",
    "jest": "true"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "createClass": "createClass",
      "pragma": "React",
      "version": "15.0"
    }
  },
  "rules": {
    // Others
    "linebreak-style": [
      "error",
      "unix"
    ],
    // Arrow functions
    "prefer-arrow-callback": "error",
    "arrow-spacing": "error",
    "arrow-parens": "off",
    // types
    "no-var": "error",
    "prefer-const": "warn",
    // Objects
    "no-new-object": "error",
    "object-shorthand": "error",
    // Array
    "no-array-constructor": "error",
    // String
    "template-curly-spacing": "error",
    "prefer-template": "error",
    "quotes": [
      "error",
      "single"
    ],
    // Function
    "prefer-rest-params": "error",
    "space-before-function-paren": "error",
    "space-before-blocks": "error",
    // Class 10.06
    "no-useless-constructor": "error",
    // Generators
    "generator-star-spacing": "off",
    // Variables
    "one-var": "off",
    "no-plusplus": "error",
    // Comparison operators
    "eqeqeq": "error",
    // Blocks
    "brace-style": "error",
    // Comments
    "spaced-comment": "error",
    // Whitespace
    "keyword-spacing": "error",
    "space-infix-ops": "error",
    "eol-last": "error",
    "newline-per-chained-call": "off",
    "space-in-parens": "error",
    "array-bracket-spacing": "error",
    "object-curly-spacing": "off",
    "indent": [
      "error",
      2,
      { "SwitchCase": 1}
    ],
    // Commas
    "comma-style": "error",
    // Semicolons
    "semi": [
      "error",
      "always"
    ],
    // Naming
    "camelcase": "error",
    "new-cap": "off",
    // Trailing commas
    "comma-dangle": ["error", "always-multiline"],
    // React
    "react/prefer-es6-class": "error",
    "react/jsx-pascal-case": "error",
    "react/no-multi-comp": ["warn", { "ignoreStateless": true }],
    "react/jsx-closing-bracket-location": "error",
    "jsx-quotes": "error",
    "react/no-unused-prop-types": "warn",
    "react/no-deprecated": "warn",
    "react/jsx-space-before-closing": "error",
    "react/jsx-curly-spacing": "error",
    "react/jsx-boolean-value": "warn",
    "react/jsx-wrap-multilines": "error",
    "react/self-closing-comp": "error",
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": [
      "warn",
      {
        "maximum": 3
      }
    ],
    "react/jsx-no-undef": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-indent": [
      "error",
      2
    ]
  }
}
